#currentDay{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
    color: white;
    display: inline;
}

h1 {
    text-align: left;
    font-size: 3rem;
    padding: 10px;
    margin: 0%;
}
h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h4{
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h5{
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: left;
}
span{
    font-size: 1.5rem;
    margin: 0;
    /* padding: 25px 5px; */
    text-align: left;
}


.container-main{
    text-align: left;
    width: 100vw;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
    background-color: transparent;
    padding-right: 350px;
    padding-left: 30px;
    padding-top: 0px;
}

#search{
    width: auto;
}
#sidebar-wrapper{
    width: 20vw;
    padding-left: 10px;

}
.card{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 10px;
}
.weather-cards{
    margin-left: 9%;
    margin-right: 7%;
}



