*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#currentDay{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
    color: white;
    display: inline;
}


h1 {
    text-align: left;
    font-size: 3rem;
    padding: 10px;
    margin: 0%;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h4{
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: left;
}
h5{
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    text-align: left;
    margin-left: 17px;
    width: 10vw;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
-ms-border-radius: 10px;
border-radius: 10px;
}

.container-main{
    text-align: left;
    width: 100vw;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
    background-color: transparent;
    padding-right: 350px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}
.low{
    background-color: lightgreen;
    color: black;
}
.moderate{
    background-color: rgb(250, 240, 127);
    color: black;
}
.high{
    background-color: rgb(244, 149, 112);
    color: black;
}
.vhigh{
    background-color: rgb(248, 107, 107);
    color: black;
}
.extreme{
    background-color: rgb(244, 193, 244);
    color: black;
}





button{
    border-radius: 4px;
    width: 10vw;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}
#search{
    width: auto;
}
#sidebar-wrapper{
    width: 20vw;
    padding-left: 10px;

}
.list-group{
    margin-left: 15px;
    margin-top: 0;
}






.card{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: rgb(5, 5, 148);
    color: white;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 10px;
}
.weather-cards{
    margin-left: 9%;
    margin-right: 7%;
}





